body{
    width: 1440px;
    font-size: 1.5rem;
    font-weight: 400, 700;
    font-family: 'Outfit', sans-serif;
    background-color:  hsl(212, 45%, 89%);
}

.para2{
    color:  hsl(220, 15%, 55%);
    font-size: 15px;
}

.attribution { 
    font-size: 11px; 
    text-align: center;
    margin-top: 5rem;
    color: hsl(228, 45%, 44%);
}

diV.image{
    background-color: hsl(0, 0%, 100%);;
    border: 10px solid hsl(0, 0%, 100%);
    border-radius: 15px;
    height: 22%;
    width: 22%;
    padding: 2px;
    text-align: center;
    margin: 2rem auto;
     
}

div.image img{
    height: 250px;
    width: 290px;
    border-radius: 10px;
}

div.para{
    padding: 15px;
    text-align: center;
}
